registry=https://pkgs.dev.azure.com/mayallc/00350226-1c15-4504-adac-6a9b92bed9ff/_packaging/cds-sdk/npm/registry/ 
; begin auth token
//pkgs.dev.azure.com/mayallc/00350226-1c15-4504-adac-6a9b92bed9ff/_packaging/cds-libs/npm/registry/:username=mayallc
//pkgs.dev.azure.com/mayallc/00350226-1c15-4504-adac-6a9b92bed9ff/_packaging/cds-libs/npm/registry/:_password=[dXlreGFvcjZjbW9ra2NwbnQ3YXc2cXpza3l3aXdiNGZwdWc0aWRrcndnbjRic2pid2ppYQ==]
//pkgs.dev.azure.com/mayallc/00350226-1c15-4504-adac-6a9b92bed9ff/_packaging/cds-libs/npm/registry/:email=ahhmetatar@gmail.com
//pkgs.dev.azure.com/mayallc/00350226-1c15-4504-adac-6a9b92bed9ff/_packaging/cds-libs/npm/:username=mayallc
//pkgs.dev.azure.com/mayallc/00350226-1c15-4504-adac-6a9b92bed9ff/_packaging/cds-libs/npm/:_password=[dXlreGFvcjZjbW9ra2NwbnQ3YXc2cXpza3l3aXdiNGZwdWc0aWRrcndnbjRic2pid2ppYQ==]
//pkgs.dev.azure.com/mayallc/00350226-1c15-4504-adac-6a9b92bed9ff/_packaging/cds-libs/npm/:email=ahhmetatar@gmail.com
; end auth token
always-auth=true
